{% extends '::base.html.twig' %}

{% block body -%}


        <p class="pull-right">
            <a class="btn-small btn-primary btn" href="{{ path('persona_new') }}">Nuevo</a>
        </p>


    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ítem</th>
                <th>DNI</th>
                <th>Nombres</th>
                <th>Apellido paterno</th>
                <th>Apellido materno</th>
                <th>Fecha de nacimiento</th>
                <th>Email</th>
                <th>Teléfono fijo</th>
                <th>Teléfono celular</th>
                <th>Dirección</th>
                <th>Sexo</th>
                <th>Estado</th>
                <th>Condicion</th>
                <th colspan="1">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.dni }}</td>
                <td>{{ entity.nombres }}</td>
                <td>{{ entity.apellidoPaterno }}</td>
                <td>{{ entity.apellidoMaterno }}</td>
                <td>{{ entity.fechanacimiento}}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.telefonoFijo }}</td>
                <td>{{ entity.telefonoCelular }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.sexo }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.condicion }}</td>
                <td class="action-icon">

                    <a href="{{ path('persona_edit', { 'id': entity.id}) }}" title="Editar registro" >
                        <li class="glyphicon glyphicon-edit"></li>
                        <!--Editar-->
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
