{% extends '::base.html.twig' %}

{% block body -%}
<div class="">
 <form action="{{ path('corteprenda_create') }}" method="POST" {{ form_enctype(form) }}>
   <div class="row">
      <div class="col-md-3">{{ form_row(form.nombre) }}</div>
      <div class="col-md-3">{{ form_row(form.fecha_corte) }}</div>
      <div class="col-md-3">{{ form_row(form.persona) }}</div>
      <div class="col-md-3">{{ form_row(form.tipo_modelo) }}</div>
   </div>
   <div class="row">
      <div class="col-md-3">{{ form_row(form.corte_prenda_detalle) }}</div>
   </div>
      <div>{{ form_row(form._token) }}</div>
   </div>
   <p class="pull-right">
     <input type="submit" value="Guardar" class="btn-small btn-primary btn" />
     <input type="button" value="Cancelar" class="btn-small btn" onclick="location.href='{{ path('corteprenda')}}'" />
   </p>
 </form>
</div>
<script type="text/javascript">
$(document).ready(function(){

   var fecha_corte_text = $('#crece_registrobundle_corteprenda_fecha_corte');

   fecha_corte_text.datepicker({
      autoclose: true
   });

   $('#btn_add_aco_taller_acompanante_x_facilitador').click(function(event) {
    var collectionHolder = $('#' + $(this).attr('data-target'));
    var prototype = collectionHolder.attr('data-prototype');
    //var form = prototype.replace(/__name__/g, collectionHolder.children().length);

    //collectionHolder.append(form);

    return false;
});

});
</script>
{% endblock %}
